html {
  scroll-behavior: smooth;
}

body{
    background-color: #000;
}

.tv9-interactive {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.tv9-interactive img{
    width: 100%;
}
.tv9-interactive section{
    padding:20px;
    box-sizing: border-box;
}
.tv9-interactive h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.tv9-interactive .section-content{
    border: 1px solid #fff;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #000;
}
.tv9-interactive p{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

#intro {
    background-image: url("../assets/imgs/intro-bg.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#intro .intro-content{
    height: 100%;
    position: relative;
}
#intro h1{
    font-size: 36px;
    line-height: 36px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.66);
}
#intro p{
    font-size: 17px;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.66);
}

.the-range{
    width: 100%;
    max-width: 400px;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;
    height: 700px;
    margin-bottom: 30px;
    overflow: hidden;
}
.the-range.active{
    left: 50% !important;
    transform: translateX(-50%);
}


.the-range .tr-pointedLight{
    position: absolute;
    top: 36px;
    width: 100%;
    z-index: 1;
}
.the-range .tr-gridLine{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.the-range .tr-timeline{
        position: absolute;
    top: 60px;
    z-index: 3;
    width: 12px;
}
.the-range .tr-bigbang{
   position: absolute;
    bottom: -69px;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    width: 250px;
    z-index: 4;
    height: 250px;
}
.the-range .tr-hubble-icon{
    position: absolute;
    top: 40px;
    width: 35px;
    left: 36%;
    transform: translateX(-36%);
    z-index: 5;
    
}
.the-range .hubble-grp{
    position: absolute;
    top: 40px;
    width: 35px;
    left: 36%;
    transform: translateX(-36%);
    z-index: 5;
    
}
.the-range .tr-webb-icon{
    position: absolute;
    top: 40px;
    width: 85px;
    left: 65%;
    transform: translateX(-65%);
    z-index: 5;
}
.the-range .webb-grp{
    position: absolute;
    top: 40px;
    width: 85px;
    left: 65%;
    transform: translateX(-65%);
    z-index: 5;
}
.the-range .tr-hubble-limit{
    position: absolute;
    top: 90px;
    width: 2px;
    left: 36%;
    transform: translateX(-36%);
    z-index: 5;
    
}
.the-range .tr-webb-limit{
    position: absolute;
    top: 90px;
    width: 2px;
    left: 63%;
    transform: translateX(-63%);
    z-index: 5;
}
.the-range .tr-txt-1{
    position: absolute;
    bottom: 0;
    width: 8px;
    left: 20px;
    z-index: 5;
}
.the-range .tr-txt-2{
    position: absolute;
    bottom: 175px;
    width: 8px;
    left: 20px;
    z-index: 5;
}
.the-range .tr-txt-3{
    position: absolute;
    top: 100px;
    width: 8px;
    left: 20px;
    z-index: 5;
}
.the-range .tr-splitarrow{
    position: absolute;
    top: 360px;
    width: 75px;
    left: 39px;
    z-index: 5;
}
.the-range .tr-txt-4{
    position: absolute;
    top: 21px;
    width: 100px;
    left: 0;
    z-index: 5;
}
.the-range .levels{
    position: absolute;
    top: 34px;
    right: 0;
    width: 30px;
    height: 1087px;
    background-image: url('../assets/imgs/the-range/therange-legend.png');
    z-index: 6;
    background-size: 100%;
    background-repeat: no-repeat;
}



/* #intro h1,  #intro p{
    position: absolute;
} */

#canvas-wrapper{
    height:500px;
}

.interactive-3d{
    height: 500px;
    border: 1px solid #000;
}
.interactive-3d iframe{
    border: 1px solid #000;
}

.jwst-3d{
    width: 1000px;
    height: 500px;
}


#origins {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        position: relative;
        height: 100vh;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    #origins img, #origins #origins-para1, #origins #origins-para2{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    #origins img{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    #origins #origins-para1, #origins #origins-para2{
        width: 100%;
    }

    #telescope-range{
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #range-para1, #range-para2{
        position: absolute;
        top: 100vh;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 10;
    }
    /* #range-para1, #range-para2{
        position: absolute;
        top: 150vh;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 10;
    } */

    #the-lagrange{ overflow: hidden;}
    #the-lagrange.active{ height: 100vh;}

    #the-lagrange .img-orbit{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../assets/imgs/orbit.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s;
    }

    #the-lagrange.active .img-orbit{
        opacity: 1;
    }
    #the-lagrange #lagrange-para1{
        position: absolute;
        top: 150vh;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 3;
        width: 100%;
    }

.interactive-3d { position: relative;}

.cover-3d{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    text-align: center;
}


@media (max-width:767px){
    #intro h1, #intro p{
        position: absolute;
    }
    #intro h1{
        top: 10%;
    }
    #intro p{
        font-size: 17px;
        bottom: 12%;
    }

    #range-para1, #range-para2{
        width: 100%;
    }

}
@media (min-width:1024px){
    #intro h1, #intro p{
        width: 100%;
        max-width: 500px;
        margin-left:auto ;
        margin-right:auto ;
    }
    #intro h1{
        margin-top: 10vh;
    }
    #intro p{
        margin-top: 50vh;
    }

    #origins img, #origins #origins-para1, #origins #origins-para2{
        width: 50%;
    }
    

}
